target/
**/target/
.DS_Store
node_modules/
dist/
.macarena
.anchor/
.solana/
stake-authority.json
.vscode/
.idea/
docs/site/
coverage/
artifacts/
dump/
**/*.log
app-demo/web/.next/
app-demo/web/out/
app-demo/web/.turbo/
cli/.env
sdk/ts/lib/
sdk/ts/dist/
sdk/ts/node_modules/
